<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if employee_signed_in? %>
  Signed in as <%= current_employee.email %>. Not you?
  <%= link_to "Edit profile", edit_employee_registration_path %>
  <%= link_to "Sign out", destroy_employee_session_path, :method => :delete %>
<% else %>
  <%= link_to "Sign up", new_employee_registration_path %> or <%= link_to "sign in", new_employee_session_path %>
<% end %>

<div style = "position: absolute;top: 25%;left: 25%; border: solid">
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>
<%= yield %>
</div>
</div>
</body>
</html>
