<h1>Home Page</h1>

<%= link_to("Posts", posts_path) %>
<br>
<%= link_to("Authors", authors_path) %>
<br>
<%= link_to("User Sigin", user_session_path) %>
<br>
<%= link_to("Register", user_registration_path) %>

<br>
<%= link_to('Video Upload', videos_path) %>



