<h1><%= @place.title %></h1>
  <%= javascript_include_tag 'map.js' %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBBt8rvmmvl2nr52zZO4zvwaNbMFeKf4M&callback=initMap" async defer>
</script>
<%= form_for @place do |f| %>
  <fieldset class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :visited_by %>
    <%= f.text_field :visited_by, class: "form-control" %>
  </fieldset>

  <h4>Enter either address or coordinates</h4>
  <fieldset class="form-group">
    <%= f.label :address, 'Address' %>
    <%= f.text_field :address, class: "form-control" %>
    <small class="text-muted">You can also enter IP. Your IP is <%= request.ip %></small>
  </fieldset>

  <div class="form-group row">
    <div class="col-sm-1">
      <%= f.label :latitude %>
    </div>

    <div class="col-sm-3">
      <%= f.text_field :latitude, class: "form-control" %>
    </div>

    <div class="col-sm-1">
      <%= f.label :longitude %>
    </div>

    <div class="col-sm-3">
      <%= f.text_field :longitude, class: "form-control" %>
    </div>

    <div class="col-sm-4">
      <a href="#" id="find-on-map" class="btn btn-info btn-sm">Find on the map</a>
    </div>
  </div>

  <%= f.submit 'Update', class: 'btn btn-primary' %>
<% end %>

<div class="card">
  <div class="card-block">
    <div id="map2"></div>
  </div>
</div>
