<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @job.age %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job.status %>
</p>
<p>
  <strong>Photo:</strong>
  <%= image_tag(@job.photo.url(:thumb), class: 'form-image') %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
